
.register-main{
    display: flex;
    justify-content:center;
    gap: 30px;
    /* background-color:white;
     */
     background-color: black;
     height: 100vh;
     color:white;
}

.left-part{

    background:url(../assets/Sign\ up-rafiki\(1\).svg);
    height: 80vh;
    /* background-size: cover; */
    width: 38%;
    margin-top: 20px;

    
    

}

.form{
    margin-top: 25px;
    width: 30%;
    height: 80vh;
    /* border: 0.5px solid black; */
    padding: 5px 20px 20px 20px;
 
    

}
.form input{
    width: 342px;
    height: 8vh;
   border-radius: 5px;
   border: none;
   border: 1px solid silver;
   padding: 0 8px;
   background-color: rgba(205, 200, 200, 0.138);
   color: white;

    
}

.form  label{
 margin-bottom: 2px;
}

.register-btn{
   width: 342px;
   height: 7vh;
   border-radius: 5px;
   font-size: 18px;
   font-weight:500;
   border: none;
   /* background:linear-gradient( to right,black,red,black) ; */
   background-color: silver;
   color:black;
   border: 1px solid silver;

}
.register-btn:hover{
    /* background:rgba(240, 84, 84, 0.738); */
    /* background:linear-gradient( to right,red,black,red) ; */
    background-color: red;
    color: white;
}

.login-link{
    cursor: pointer;
}
